<html>
    <head>
        <title>Nicolas Castro | Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Nicolas Castro | Blog</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Hola, este es mi primer post.
            Queria contarles que soy un capo.
            Nos vemos.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Segundo post</a></h2>
            <p>Hola de nuevo, nos vemos.</p>
        </div>
    </body>
</html>